:root {
  --country1: #1f77b4;
  --country1-secondary: #196193;
  --country1-thirdiary: #0e3550;
	--country2: #ff7f0e;
	--country2-secondary: #e66c00;
  --country2-thirdiary: #ab5000;
	--country3: #2ca02c;
	--country3-secondary: #248124;
  --country3-thirdiary: #1b621b;
	--country4: #d62728;
	--country4-secondary: #b52122;
  --country4-thirdiary: #941b1c;
}


@media (max-width: 768px) {
	.slider-margin-top{
		 margin-top: 37px;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.slider-margin-top{
		 margin-top: 58px;
	}
}


@media (min-width: 992px) {
	.slider-margin-top{
		 margin-top: 22px;
	}
}

.slider-margin-sides{
	padding-right: 35px;
	padding-left: 35px;
}

.slider-tick-label{
	color: #ffffee;
}

.btn-country1{
	background-color: var(--country1);
	border-color: var(--country1-secondary);
}
	/*btn-country1:hover{
		background-color: var(--country1-secondary);
		border-color: var(--country1-thirdiary);
	}
	.btn-country1:active{
		background-color: var(--country1-thirdiary);
		border-color: var(--country1-thirdiary);
	}*/

.btn-country2{
	background-color: var(--country2);
	border-color: var(--country2-secondary);
}
	/*.btn-country2:hover{
		background-color: var(--country2-secondary);
		border-color: var(--country2-thirdiary);
	}

	.btn-country2:active{
		background-color: var(--country2-thirdiary);
		border-color: var(--country2-thirdiary);
	}*/

.btn-country3{
	background-color: var(--country3);
	border-color: var(--country3-secondary);
}
	/*.btn-country3:hover{
		background-color: var(--country3-secondary);
		border-color: var(--country3-thirdiary);
	}
	.btn-country3:active{
		background-color: var(--country3-thirdiary);
		border-color: var(--country3-thirdiary);
	}*/

.btn-country4{
	background-color: var(--country4);
	border-color: var(--country4-secondary);
}
	/*.btn-country4:hover{
		background-color: var(--country4-secondary);
		border-color: var(--country4-thirdiary);
	}
	.btn-country4:active{
		background-color: var(--country4-thirdiary);
		border-color: var(--country4-thirdiary);
	}*/


#header{
	background-color: gray;
	padding-top: 1em;
	padding-bottom: 1.5em;
}

.width100{
	width: 100%;
}